@charset "shift-jis";

/* 基本外部スタイルシートの読み込み
------------------------------------------------------------ */
@import "header_common.css";
@import "base.css";

/* Mac版IE5.x専用外部スタイルシートの読み込み
------------------------------------------------------------ */
/*\*//*/
	@import "mac-ie5x.css";
/**/

/* Windows版IE5.x(5.0～5.5)専用外部スタイルシートの読み込み
------------------------------------------------------------ */
@media tty {
	i{content: "\";/*" "*/}} @import 'win-ie5x.css'; /*";}
}/* */

/* Windows版IE5.0専用外部スタイルシートの読み込み
------------------------------------------------------------ */
@media tty {
	i{content: "\";/*" "*/}}; @import 'win-ie50.css'; {;}/*";}
}/* */

/* Windows版IE5.5専用外部スタイルシートの読み込み
------------------------------------------------------------ */
@media tty {
	i{content: "\";/*" "*/}}@m; @import 'win-ie55.css'; /*";}
}/* */
