@charset "shift-jis";
a {
	display: block;
}
dl a {
	display: inline;
}
#btn-head-HOME a {
	font-size: 75%;
	line-height: 1.4;
	padding: 1px 0px 1px 8px;
	color: #eeeeee;
	background: url(../img_main/arrow_header.gif) no-repeat left center;
}
#menu-recruit a {
	display: block;
}
#menu-recruit a {
	display: inline;
	position: relative;
	left: 10px;
}
div.tab-2ndLevel {
	width: 777px;
	height: 30px;
}
#PageTop-Footer {
	width: 777px;
}
/*-- index --*/
.bearm-left-m-bott a {
	float:right;
}
/*-- news --*/
#tab-News-Archive a {
	display: block;
}
dt.ThisYear span, dt.LastYear span {
	padding: 2px 5px 1px 5px;
	display: block;
}
.Info-Archive dl {
	width: 460px;
	padding: 2px 10px 2px 10px;
}
.Info-Archive dd {
	margin: 0px 0px 0px 10px;
	width: 460px;
}
.News-Archive dt {
	width: 480px;
	padding: 2px 0px 0px 5px;
	display: block;
}
.News-Archive dd {
	width: 460px;
}
.info-IR-Body dd {
	width: 235px;
	padding: 0px 5px 0px 5px;
}
h3.Txt-News-Info {
	width: 480px;
	padding: 3px 0px 1px 10px;
}
h4.Event-Title {
	width: 260px;
}
.Event-Body {
	width: 245px;
}
ul.Platform-Sort {
	width: 250px;
}
ul.Platform-Sort li a, ul.Platform-Activ {
	width: 250px;
}
/*-- game_service--*/
.Title-Line01, .Title-Line02, .Title-Line03, .Title-Line04, .Title-Line05, .Title-Line06, .Title-Line07, .Title-Line08 {
	width: 777px;
}
.gamebanner{
	width: 180;
	height: 110px;
}
/*-- game_service--*/
#Contents-info{
	width: 265px;
}
#Contents-atTheWindow{
	width: 512px;
}
dt a {
	padding: 0px 0px 0px 15px;
	background: url(../img_main/arrow_orange.gif) no-repeat left center;
}
h4 {
	display: block;/*-非表示解除-*/
	width: 777px;
	height: 33px;
	padding: 3px 0px 0px 15px;
	font-size: 90%;
	line-height: 1.4;
	clear: both;
}
/*-- Amusement--*/
div#Contents-AmuseInfo h3.AmuseEvent-Title {
	width: 320px;
	height: 25px;
	padding: 1px 0px 0px 20px;
}
dl.AmuseEvent-Body{
	width: 320px;
}
div#Contents-AmuseInfo p.Amuset-Shop {
	width: 320px;
}
div#page h4 {
	width: 580px;
}
div#shopdataForEvent {
	width: 580px;
}
/*-- recruit--*/
.stickiesMenu li {
	width: 215px;
	height: 30px;
}
ul.bottBox {
	width: 512px;
}
#Contents-RecruitDvp a, #Contents-RecruitBsn a {
	width: 360px;
	height: 230px;
}
div#Contents-RecruitDvp, div#Contents-RecruitBsn {
	height: 230px;
	width: 360px;
}
#Contents-RecruitContents dl.NewsBox dt {
	width: 70px;
}
#Contents-RecruitContents dl.NewsBox dd {
	width: 400px;
}
#Contents-RecruitContents ul.bottBox {
	width: 492;
}
#Contents-RecruitFooter {
	width: 777px;
}
#RecDvpNewFllowTxt{
	width: 556px;
}
#mtfwsection {
	width: 507px;
}
.PostIt01 {
	width: 175px;
	height: 70px;
}
.PostIt01em {
	width: 175px;
	height: 70px;
}
.PostIt02 {
	width: 175px;
	height: 70px;
}
.PostIt02em {
	width: 175px;
	height: 70px;
}
.PostIt03 {
	width: 175px;
	height: 70px;
}
.PostIt03em {
	width: 175px;
	height: 70px;
}
/*-- Support--*/
div#Contents-atTheWindow {
	width: 510px;
	padding: 0px 10px 0px 10px;
}
div#Contents-SupportInfo {
	width: 265px;
	padding: 0px 10px 0px 10px;
}
a.jump-Gameportal {
	display: inline;
	padding: 0px 25px 0px 0px;
}
.faqList a, .LinkList a {
	display: inline;
}
a.jump-Gameportal{
	background: url(../img_main/page_game.gif) no-repeat right center;
	padding-right: 25px;
}
/*-- site--*/
div#Contents-SiteContents {
	width: 507px;
}
div#Contents-SiteNavi {
	width: 270px;
}
div.privacyTXT {
	width: 487px;
}
div.privacyTXT ol {
	width: 445px;
}
div#Contents-TermsOfUseBox {
	width: 777px;
}
div#Contents-TermsOfUseBox p {
	width: 640px;
}
/***-sitemap-***/
.sitemapBoxLeft, .sitemapBoxRight {
	width: 330px;
}
