@charset "utf-8";
/* CSS Document */

#mainConts{
}

#mainConts ul{
	width: 100%;
	letter-spacing: -.40em;
	margin-top: 10px;
}
#mainConts ul li{
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}

#mainConts ul li img{
	width: 100%;
}

#mainChara ul li.naruhodo{
	margin-left: 4.61%;
	width: 38.46%;
}
#mainChara ul li.holmes{
	margin-left: 10.76%;
	margin-top: 8.46%;
	width: 45.38%;
}
#mainChara ul li.ryutaro{
	margin-left: 14.61%;
	margin-top: -2.30%;
	width: 30%;
}


#subChara{
	margin-top: 140px;	
}

#subChara ul li.haori{
	margin-left: 4.66%;
	width: 20.53%;
}
#subChara ul li.soseki{
	margin-left: 2%;
	margin-top: 7.33%;
	width: 25.46%;
}
#subChara ul li.hosonaga{
	margin-left: 0.4%;
	margin-top: 2.4%;
	width: 24.86%;
}
