@charset "utf-8";

html {
	margin: 0px;
	padding: 0px;
	font-family:'Microsoft Yahei','SimSun',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', verdana, Helvetica,Arial, sans-serif;
	font-size:62.5%;
	font-weight: 400;
	font-feature-settings: "pkna";
}

